.DS_Store
*~
*#
RUNTIME/LOG/*
BUILD/*
!BUILD/README.md
CAP/*
!CAP/iomt_system_example
!CAP/iomt_system_example.txt
!CAP/iso_system_example
!CAP/iso_system_example.txt
!CAP/README.md
#CAP/*.txt
#CAP/*/*.html
#CAP/*/*.dot
#CAP/*/*.svg
REPOSITORY/CASES/*/repository.pl
REPOSITORY/EVIDENCE/axiom/*/status
REPOSITORY/EVIDENCE/certificate/*/status
REPOSITORY/EVIDENCE/ichecker/*/status
REPOSITORY/EVIDENCE/ocra/*/status
REPOSITORY/EVIDENCE/unknown/*/status
src/*~
src/agents/*~
src/com/*~
src/models_api/*~
docs/User-Manual/~$*
IGNORE

