.DS_Store
*~
*#
RUNTIME/LOG/*
BUILD/*
CAP/*.txt
CAP/*/*.html
CAP/*/*.dot
CAP/*/*.svg
REPOSITORY/ASSURANCE/*/repository.pl
REPOSITORY/EVIDENCE/axiom/*/status
REPOSITORY/EVIDENCE/certificate/*/status
REPOSITORY/EVIDENCE/ichecker/*/status
REPOSITORY/EVIDENCE/ocra/*/status
REPOSITORY/EVIDENCE/unknown/*/status
src/*~
src/agents/*~
src/com/*~
src/models_api/*~
